$yellow-color: #f9ae3b; //Red
$yellow-color-opacity: #f6921e; //Red
$blue-color: #3fa1d3; //Red
$white-color: white; //Red
$menue-color: #0f8ac8; //Red
$blue-color-dark: #285282; //Red
$gray-color: #9f9f9f; //Red

$blue-color-opacity: rgb(63, 161, 211, 0.6);
